
div#last_prices div.row div{
  font-size:1.45em;
}

div#last_prices div.row div.value{
  color:#2211cc;
}

div#last_prices div.row{
  margin-bottom:10px;
}

@media (min-width: 996px) {
  div#last_prices div.row div.name{
    text-align: right;
  }

  div#last_prices div.row div.value{
    text-align: left;
  }
}


h1 {
  font-family: 'Ruda', sans-serif;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

body { padding-top: 70px; }

div#last_update {
  margin-top:15px;
}

div#last_update p {
  font-size:0.9em;
  font-weight: bold;
  font-style: italic;
}

.footer p{
  float:left;
}
.footer div {
  float:right;
}

h1.oficial{
  color: #292;
}

h1.blue{
  color: #229;
}

span.value{
  font-size: 1.4em;
  color: #800;
}

span.perc{
  font-size: 1.7em;
  color: #008;
}