
div#last_prices div.row div{
  font-size:1.45em;
}

div#last_prices div.row div.value{
  color:#2211cc;
}

div#last_prices div.row{
  margin-bottom:10px;
}

@media (min-width: 996px) {
  div#last_prices div.row div.name{
    text-align: right;
  }

  div#last_prices div.row div.value{
    text-align: left;
  }
}


h1 {
  font-family: 'Ruda', sans-serif;
}

a.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

body { padding-top: 70px; }