{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block title %}
  <title>bluelytics - Prediccion del Dolar Blue</title>
{% endblock %}

{% block content %}

<h1>Predicción del Dolar Blue</h1>
<em>(Todos los valores indicados a continuacion se refieren al valor de venta)</em>

<h2>Grafico</h2>
<div id="forecast_chart" class="chart_block">
</div>

<h2>Tabla de valores</h2>
<table class="table" id="table_forecast">
<thead>
  <tr>
  <th>Mes</th>
  <th>Valor minimo predicho</th>
  <th>Valor predicho</th>
  <th>Valor maximo predicho</th>
  </tr>
</thead>
<tbody></tbody>
</table>


{% endblock %}


{% block extrahead %}

<style>


.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date {  }
.rickshaw_graph .detail .x_value { font-weight: bold;  }


.chart_container{
  display:inline-block;
  position: relative;
}

.chart_container {
  width:70%;
}

.hidden{
  display:none;
}

  td.mean{
    font-weight: bold;
  }

</style>


<script src="{% static 'js/forecast.js' %}"></script>

<script>


$(document).ready (function(){


  obtainDataForecast();



});


</script>
{% endblock %}
