{% extends "base.html" %}
{% load tz %}

{% block title %}
  <title>bluelytics - Brecha dólar blue</title>
{% endblock %}

{% block content %}

<h1 class="blue">Brecha dólar blue</h1>
<h2>(Estimación)</h2>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div id="baseform" class="form-group">
      <label class="control-label" for="basecurrency">¿Cuantos Dólares (USD) utilizar para la comparacion?</label>
      <input id="basecurrency" type="number" value="1" min="1" class="form-control">
    </div>
  </div>
</div>

<h3> Oficial vs Blue </h3>
<span id="gap_1"><span class="value"></span> <span class="perc"></span></span>

<h3> Ahorro (+20%) vs Blue </h3>
<span id="gap_2"><span class="value"></span> <span class="perc"></span></span>

<h3> Turista (+35%) vs Blue </h3>
<span id="gap_3"><span class="value"></span> <span class="perc"></span></span>

{% endblock %}


{% block extrahead %}


<script>
var max_sources = {{ max_sources|safe }};
var all_sources = {{ all_sources|safe }};

function round_number(num, dec) {
    return Math.round(num * Math.pow(10, dec)) / Math.pow(10, dec);
}


function gapCalc(id, oficial, blue, multiplier){
  var gap = blue - oficial;
  var perc_gap = (gap/oficial) * 100;
  $('span#'+id+' > span.value').text("AR$ " + (gap*multiplier).toFixed(2));
  $('span#'+id+' > span.perc').text("(" +perc_gap.toFixed(2)+ "%)");
}

function adjustGap(value){
  gapCalc('gap_1', oficial_value_avg, blue_value_avg, value);
  gapCalc('gap_2', oficial_mas20_avg, blue_value_avg, value);
  gapCalc('gap_3', oficial_mas35_avg, blue_value_avg, value);
}

$.ready = function(){
  onlyoficial = max_sources.filter(function(s){return s.source == 'oficial';})[0];
  oficial_value_avg = onlyoficial.value_avg;

  avgs = average_sources(max_sources);
  blue_value_avg = avgs.value_avg;

  oficial_mas20_avg = oficial_value_avg * 1.20;
  oficial_mas35_avg = oficial_value_avg * 1.35;

  var baseform = $('#baseform');
  $('input#basecurrency')
  .bind('mouseout keyup change', function() {
    baseform.removeClass('has-error');
    if ($.isNumeric(this.value)){
      adjustGap(this.value);
    }else{
      baseform.addClass('has-error');
    }
  });

  adjustGap(1);
};

</script>

{% endblock %}