{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block title %}
  <title>bluelytics - Evolucion dólar blue</title>
{% endblock %}

{% block content %}

<ul id="var_select" class="nav nav-pills pull-right">
  <li data-var="buy" onclick="graph_switch_variable(this)"><a href="javascript:void(0)">Compra</a></li>
  <li class="active" data-var="avg" onclick="graph_switch_variable(this)"><a href="javascript:void(0)">Promedio</a></li>
  <li data-var="sell" onclick="graph_switch_variable(this)"><a href="javascript:void(0)">Venta</a></li>
</ul>
<br>

<h1>Dólar blue</h1>

<h2>Evolucion diaria</h2>

<div id="dailychart_sell" class="chart_block">
</div>
<div id="dailychart_avg" class="chart_block">
</div>
<div id="dailychart_buy" class="chart_block">
</div>


<h2>Evolucion detallada</h2>

<div id="hourlychart_sell" class="chart_block">
</div>
<div id="hourlychart_avg" class="chart_block">
</div>
<div id="hourlychart_buy" class="chart_block">
</div>

{% endblock %}


{% block extrahead %}
<style>
.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }

.chart_container{
  display:inline-block;
  position: relative;
}

.chart_container {
  width:70%;
}

.hidden{
  display:none;
}


</style>

<script>


var blueData = {{ all_prices|safe }};
var sourceData = {{ all_sources|safe }};

$(document).ready (function(){
  

  prepareGraphs();
});



</script>
{% endblock %}
