{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}

{% block title %}
  <title>bluelytics - Evolucion dólar blue</title>
{% endblock %}

{% block content %}

<ul id="var_select" class="nav nav-pills pull-right">
  <li data-var="buy" onclick="switch_variable(this)"><a href="#">Compra</a></li>
  <li class="active" data-var="avg" onclick="switch_variable(this)"><a href="#">Promedio</a></li>
  <li data-var="sell" onclick="switch_variable(this)"><a href="#">Venta</a></li>
</ul>
<br>

<h1>Dólar blue</h1>

<h2>Evolucion diaria</h3>

<div id="dailychart_sell" class="chart_block">
</div>
<div id="dailychart_avg" class="chart_block">
</div>
<div id="dailychart_buy" class="chart_block">
</div>


<h2>Evolucion detallada</h3>

<div id="hourlychart_sell" class="chart_block">
</div>
<div id="hourlychart_avg" class="chart_block">
</div>
<div id="hourlychart_buy" class="chart_block">
</div>

{% endblock %}


{% block extrahead %}
<style>
.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }

.legend_container,.chart_container{
  display:inline-block;
  position: relative;
}

.legend_container {
  vertical-align: top;
}

.chart_container {
  width:60%;
}

.hidden{
  display:none;
}


</style>

<script>
$(document).ready (function(){
    function union(array1, array2) {
        var hash = {}, union = [];
        $.each($.merge($.merge([], array1), array2), function (index, value) { hash[value] = value; });
        $.each(hash, function (key, value) { union.push(key); } );
        return union;
    }

  var blueData = {{ all_prices|safe }};
  var sourceData = {{ all_sources|safe }};
  var format = d3.time.format("%d/%m/%Y %H:%M:%S");
  var format_datepart = d3.time.format("%d/%m/%Y");

  var add_20perc = _.chain(blueData)
    .filter(function(e){return e.source == "oficial";})
    .map(function(e){
              d=jQuery.extend({},e);
              d.source="oficial_mas20";
              d.value_sell *= 1.20;
              d.value_avg *= 1.20;
              d.value_buy *= 1.20;
              return d;
            })
    .value()
  ;

  var add_35perc = _.chain(blueData)
    .filter(function(e){return e.source == "oficial";})
    .map(function(e){
                d=jQuery.extend({},e);
                d.source="oficial_mas35";
                d.value_sell *= 1.35;
                d.value_avg *= 1.35;
                d.value_buy *= 1.35;
                return d;
            })
    .value()
  ;

  blueFixed = jQuery.merge(jQuery.merge(add_20perc, add_35perc), blueData);

  var label_20perc = {"name": "oficial_mas20", "description": "Oficial + 20%"};
  var label_35perc = {"name": "oficial_mas35", "description": "Oficial + 35%"};
  sourceData.push(label_20perc);
  sourceData.push(label_35perc);

  var transfBlueData = _.chain(blueFixed).map(function(b){
    var tmp_date = format.parse(b.date);
    b.epoch = tmp_date.getTime()/1000;
    b.datepart = format_datepart(tmp_date);
    return b;
  }).value();

  var bySourceDate = _.groupBy(transfBlueData, function(a){return a.source+a.datepart;});

  var dailyBlueData = _.map(bySourceDate, function(d){
    return _.max(d, function(a){return a.epoch;});
  });

  function transformData(inputData, variable){
    var graphData = [];
    var palette = new Rickshaw.Color.Palette();

    for (key in sourceData){
      var source = sourceData[key].name;
      var sourceDesc = sourceData[key].description;
      srcd = {
        data: 
          inputData
            .filter(function(d){return d.source == source;})
            .map(function(d){return {x: d.epoch, y:+(d[variable].toFixed(4))};})
        ,
        name: sourceDesc,
        color: palette.color()
      }

      graphData.push(srcd);
    }

    return graphData;
  }

  function generateGraph(id, inputData){

    var chartElement = $('div#' + id);
    chartElement.append('<div class="chart_container"> \
      <div class="chart"></div> \
      <br> \
      <div class="slider"></div> \
    </div> \
    <div class="legend_container"> \
      <div class="smoother" title="Smoothing"></div> \
      <div class="legend"></div> \
    </div>');

    var graph = new Rickshaw.Graph( {
        element: document.querySelector("div#"+id+" div.chart"), 
        renderer: 'line',
        series: inputData,
        min:7
    });

    var legend = new Rickshaw.Graph.Legend({
        graph: graph,
        element: document.querySelector("div#"+id+" > div.legend_container > div.legend")
    });
    var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
        graph: graph,
        legend: legend
    });
    var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
        graph: graph,
        legend: legend
    });


    var slider = new Rickshaw.Graph.RangeSlider.Preview({
        graph: graph,
        element: document.querySelector("div#"+id+" div.slider")
    });

    var previewXAxis = new Rickshaw.Graph.Axis.Time({
      graph: slider.previews[0]
    });


    var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph
    });

    var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph
    });
    var hoverDetail = new Rickshaw.Graph.HoverDetail( {
      graph: graph,
      formatter: function(series, x, y) {
        var date = '<span class="date">' + new Date(x * 1000).toString() + '</span>';
        var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
        var content = swatch + series.name + ": " + parseFloat(y) + '<br>' + date;
        return content;
      }
    } );

    previewXAxis.render();
    xAxis.render();
    yAxis.render();
    graph.render();

    var updGraph = function() {
      graph.configure({
        width: document.querySelector("div#"+id+" div.chart").width,
        height: document.querySelector("div#"+id+" div.chart").width * 0.66
      });
      graph.update();
    };

    updGraph();

    $( window ).resize(updGraph);

    return graph;
  }

  var dailyGraphReady = {
    'value_sell':transformData(dailyBlueData, 'value_sell'),
    'value_avg':transformData(dailyBlueData, 'value_avg'),
    'value_buy':transformData(dailyBlueData, 'value_buy')
  };

  var hourlyGraphReady = {
    'value_sell':transformData(transfBlueData, 'value_sell'),
    'value_avg':transformData(transfBlueData, 'value_avg'),
    'value_buy':transformData(transfBlueData, 'value_buy')
  };

  var dailyGraph_avg = generateGraph("dailychart_sell", dailyGraphReady['value_sell']);
  var dailyGraph_avg = generateGraph("dailychart_avg", dailyGraphReady['value_avg']);
  var dailyGraph_avg = generateGraph("dailychart_buy", dailyGraphReady['value_buy']);
  var hourlyGraph_avg = generateGraph("hourlychart_sell", hourlyGraphReady['value_sell']);
  var hourlyGraph_avg = generateGraph("hourlychart_avg", hourlyGraphReady['value_avg']);
  var hourlyGraph_avg = generateGraph("hourlychart_buy", hourlyGraphReady['value_buy']);

  set_variable('avg');
});

function set_variable(variable){
  $('.chart_block').addClass('hidden');
  $('#dailychart_'+variable).removeClass('hidden');
  $('#hourlychart_'+variable).removeClass('hidden');
}

function switch_variable(el){
    var variable = el.getAttribute('data-var');

    set_variable(variable);

    $('ul#var_select li.active').removeClass('active');
    $(el).addClass('active');
  }


</script>
{% endblock %}
