{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}


{% block content %}
<h1>Dolar blue</h1>
<h2>Evolucion promedio compra/venta</h2>

<div id="chart_container">
  <div id="dailychart"></div>
  <div id="legend_container">
    <div id="smoother" title="Smoothing"></div>
    <div id="legend_dailychart"></div>
  </div>
  <div id="slider"></div>
</div>
{% endblock %}


{% block extrahead %}
<script src="{% static 'js/d3.v3.min.js' %}"></script>
<script src="{% static 'js/rickshaw.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/rickshaw.min.css' %}">

<style>
.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #a0a0a0 }
</style>

<script>
$.ready = function(){
  var blueData = {{ all_prices|safe }};
  var sourceData = {{ all_sources|safe }};
  var format = d3.time.format("%d/%m/%Y %H:%M:%S");

  var transfBlueData = blueData.map(function(b){
    b.epoch = format.parse(b.date).getTime()/1000;
    return b;
  });

  var graphData = [];
  var palette = new Rickshaw.Color.Palette();

  for (key in sourceData){
    var source = sourceData[key].name;
    var sourceDesc = sourceData[key].description;
    srcd = {
      data: 
        transfBlueData
          .filter(function(d){return d.source == source;})
          .map(function(d){return {x: d.epoch, y:d.value_avg};})
      ,
      name: sourceDesc,
      color: palette.color()
    }

    graphData.push(srcd);
  }
  

  var graph = new Rickshaw.Graph( {
      element: document.querySelector("#dailychart"), 
      renderer: 'line',
      width: document.querySelector("#dailychart").width, 
      height: 300, 
      series: graphData,
      min:7
  });

  var legend = new Rickshaw.Graph.Legend({
      graph: graph,
      element: document.querySelector('#legend_dailychart')
  });
  var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
      graph: graph,
      legend: legend
  });
  var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
      graph: graph,
      legend: legend
  });

  var xAxis = new Rickshaw.Graph.Axis.Time({
      graph: graph
  });

  var yAxis = new Rickshaw.Graph.Axis.Y({
      graph: graph
  });
  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph,
    formatter: function(series, x, y) {
      var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
      var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
      var content = swatch + series.name + ": " + parseFloat(y) + '<br>' + date;
      return content;
    }
  } );

  xAxis.render();
  yAxis.render();
  graph.render();
};
</script>
{% endblock %}
