{% extends "base.html" %}
{% load tz %}

{% block title %}
  <title>bluelytics - Precio dólar blue</title>
{% endblock %}

{% block content %}
<ul id="source_select" class="nav nav-pills pull-right">
  <li data-source="oficial" onclick="switch_source(this)"><a href="javascript:void(0)">Oficial</a></li>
  <li data-source="oficial+20" onclick="switch_source(this)"><a href="javascript:void(0)">Oficial + 20%</a></li>
  <li data-source="oficial+35" onclick="switch_source(this)"><a href="javascript:void(0)">Oficial + 35%</a></li>
  <li class="active" data-source="average" onclick="switch_source(this)"><a href="javascript:void(0)">Promedio Blue</a></li>
</ul>
<br>

<h1 class="blue">Dólar blue</h1>
<h2>Valor</h2>
<div class="row">
    <div id="last_prices">
      <div class="row" id="valorCompra">
        <div class="col-md-6 name">Compra:</div>
        <div class="col-md-6 value">{{ last_price.value_buy }}</div>
      </div>
      <div class="row" id="valorIntermedio">
        <div class="col-md-6 name">Intermedio:</div>
        <div class="col-md-6 value">{{ last_price.value_avg }}</div>
      </div>
      <div class="row" id="valorVenta">
        <div class="col-md-6 name">Venta:</div>
        <div class="col-md-6 value">{{ last_price.value_sell }}</div>
      </div>
    </div>
</div>

<div id="last_update">
  <p class="date_title">Ultima actualización:</p>
  <p class="date"></p>
</div>

{% endblock %}


{% block extrahead %}


<script>
var max_sources = {{ max_sources|safe }};
var all_sources = {{ all_sources|safe }};

function sumVar(varName){
  var passVar = varName;
  return function(a,b){
     return  a + b[passVar];
   };
}

function set_source(sourceObj, multiplier){
  calcMultiplier = (100 + multiplier) / 100;
  document.querySelector('div#valorCompra div.value').innerHTML =
    (sourceObj.value_buy * calcMultiplier).toFixed(4);
  document.querySelector('div#valorVenta div.value').innerHTML =
    (sourceObj.value_sell * calcMultiplier).toFixed(4);
  document.querySelector('div#valorIntermedio div.value').innerHTML =
    (sourceObj.value_avg * calcMultiplier).toFixed(4);

  if (sourceObj.date){
    document.querySelector('div#last_update p.date').innerHTML = sourceObj.date;
    $('div#last_update').show();
  }else{
    $('div#last_update').hide();
  }

  var head = $('h1');
  if (sourceObj.source == 'oficial'){

    head.text("Dólar oficial");
    if(head.hasClass('blue')){
      head.removeClass('blue');
      head.addClass('oficial');
    }
    
  }else{
    head.text("Dólar blue");
    if(head.hasClass('oficial')){
      head.removeClass('oficial');
      head.addClass('blue');
    }
  }

  return true;
}

function switch_source(el){

  var source = el.getAttribute('data-source');
  if (resolve_set_source(source)){
    $('ul#source_select li.active').removeClass('active');
    $(el).addClass('active');
  }
}

function resolve_set_source(source){
  var resolved_source;
  multiplier=0;
  if(source == "average"){
    onlyblue_ms = max_sources.filter(function(s){return s.source != 'oficial';});

    resolved_source = {
      'value_sell': onlyblue_ms.reduce(sumVar('value_sell'), 0)/onlyblue_ms.length,
      'value_buy': onlyblue_ms.reduce(sumVar('value_buy'), 0)/onlyblue_ms.length,
      'value_avg': onlyblue_ms.reduce(sumVar('value_avg'), 0)/onlyblue_ms.length,
    };
  }else{
    var splitName = source.split("+");
    if (splitName.length > 1){
      source = splitName[0];
      multiplier= + splitName[1];
    }

    var search = $.grep(max_sources, function(s){return s.source == source;});

    if (search.length == 0){return;}
    else
      resolved_source = search[0];
  }

  return set_source(resolved_source, multiplier);
}

$.ready = function(){
  resolve_set_source('average');

  var src_sel = $('ul#source_select');
  for (key in all_sources){
    var src = all_sources[key];
    if (src.name != 'oficial'){
      var nel = $.parseHTML('<li data-source="'+src.name+'" onclick="switch_source(this)"><a href="javascript:void(0)">'+src.description+'</a></li>');
      src_sel.append(nel);
    }
  }
};

</script>

{% endblock %}