{% extends "base.html" %}
{% load tz %}
{% load staticfiles %}

{% block title %}
  <title>bluelytics - Precio dólar blue</title>
{% endblock %}

{% block content %}
<ul id="source_select" class="nav nav-pills pull-right">
  <li data-source="oficial" onclick="switch_source(this)"><a href="javascript:void(0)">Oficial</a></li>
  <li data-source="oficial+20" onclick="switch_source(this)"><a href="javascript:void(0)">Oficial + 20%</a></li>
  <li data-source="oficial+35" onclick="switch_source(this)"><a href="javascript:void(0)">Oficial + 35%</a></li>
  <li class="active" data-source="average" onclick="switch_source(this)"><a href="javascript:void(0)">Promedio Blue</a></li>
</ul>
<br>

<h1 class="blue">Dólar blue</h1>
<h2>Valor</h2>
<div class="row">
    <div id="last_prices">
      <div class="row" id="valorCompra">
        <div class="col-md-6 name">Compra:</div>
        <div class="col-md-6 value">{{ last_price.value_buy }}</div>
      </div>
      <div class="row" id="valorIntermedio">
        <div class="col-md-6 name">Intermedio:</div>
        <div class="col-md-6 value">{{ last_price.value_avg }}</div>
      </div>
      <div class="row" id="valorVenta">
        <div class="col-md-6 name">Venta:</div>
        <div class="col-md-6 value">{{ last_price.value_sell }}</div>
      </div>
    </div>
</div>

<div id="last_update">
  <p class="date_title">Ultima actualización:</p>
  <p class="date"></p>
</div>

{% endblock %}


{% block extrahead %}


<script src="{% static 'js/index.js' %}"></script>
<script>
var max_sources = {{ max_sources|safe }};
var all_sources = {{ all_sources|safe }};


$.ready = function(){
  resolve_set_source('average');

  var src_sel = $('ul#source_select');
  for (key in all_sources){
    var src = all_sources[key];
    if (src.name != 'oficial'){
      var nel = $.parseHTML('<li data-source="'+src.name+'" onclick="switch_source(this)"><a href="javascript:void(0)">'+src.description+'</a></li>');
      src_sel.append(nel);
    }
  }
};

</script>

{% endblock %}